[Unit]
Description=programmateur de tache similaire a cron
After=network.target

[Service]
Type=simple
ExecStart=/var/lib/pcron/task_exec.sh
Restart=on-failure
RestartSec=2s
WorkingDirectory=/etc/pcron

[Install]
WantedBy=multi-user.target
